<header>
    <div class="nav-left-section">
        {% if settings.logo-image != blank %} 
        <a href="{{ shop.url }}">
            <img 
                width = "70"
                height = "30"
                loading = "lazy"
                src = "{{ settings.logo-image | image_url}}"
            >
        </a>
        {% else %}
        <a href="{{ shop.url }}">
            <img
                width = "70"
                height = "30"
                loading = "lazy"
                src="{{'logo-1.png' | asset_url}}"
            >
        </a>
    {% endif %}
    </div>
    
    <div class = "nav-middle-section">
        <ul>
            {% for link in linklists.main-menu.links %}
                <li>
                    <a href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</header>
<style>

</style>
{%schema%}{
    "name": "Header",
    "settings": [ {
        "type": "image_picker",
        "id": "logo-image",
        "label": "Upload logo"
    },
    {
        "type": "color",
        "id": "header-background-color",
        "label": "Header Background Color",
        "default": "#ffffff"
    }
        
    ]
}

{% endschema %}