<main>
    <div class="camera-scroll">
        <img
            width = "300"
            height = "300"
            loading = "lazy"
            class = "sticky-image"
            {% if settings.product1 != blank %}
                src = " {{ settings.product1 | image_url }}"
            {% else %}
                src = "{{ 'c1.png'| asset_url }}"
            {% endif %}
        >
    </div>
    <div class="container">
        <div class="sticky-image">
          <img src="{{'c1.png' | asset_url}}" width="500" height="300">
        </div>
      
        <div class="scroll-reveal">
          <img src="{{ 'photo1.jpg' | asset_url }}" class="left-image" width="500" height="300">
          <img src="{{ 'photo2.jpg' | asset_url}}" class="right-image" width="500" height="300">
        </div>
      
        <div class="scroll-reveal">
          <img src="{{ 'photo3.jpg' | asset_url }}" class="left-image" width="500" height="300">
          <img src="{{ 'photo4.jpg' | asset_url }}" class="right-image" width="500" height="300">
        </div>

        <div class="scroll-reveal">
            <img src="{{ 'photo5.jpg' | asset_url }}" class="left-image" width="500" height="300">
            <img src="{{ 'photo6.jpg' | asset_url }}" class="right-image" width="500" height="300">
        </div>

        <div class="scroll-reveal">
            <img src="{{ 'photo7.jpg' | asset_url }}" class="left-image" width="500" height="300">
            <img src="{{ 'photo8.jpg' | asset_url }}" class="right-image" width="500" height="300">
        </div>
      </div>
      
</main>

<style>
    .container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
      }
      
      .sticky-image {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
      
      .scroll-reveal {
        position: relative;
        width: 100%;
        height: 100vh; /* Adjust height to control the scroll effect */
        overflow: hidden;
      }
      
      .left-image, .right-image {
        position: absolute;
        top: 50%;
        transition: transform 1s ease;
        transform: translateY(-50%);
      }
      
      .left-image {
        left: -500px; /* Start off-screen */
      }
      
      .right-image {
        right: -500px; /* Start off-screen */
      }
      
</style>

{% schema %} {
    "name": "product-page-1",
    "settings": [
        {
            "type": "image_picker",
            "id": "product1",
            "label": "Choose product image to display"
        }
    ]
}


{% endschema %}