<section>
    <div class="container">
        <div class="images">
            <div class="product1">
                <a href="{{pages['ilme-fx30'].url }}">
                    <img
                        width = "300"
                        height = "300"
                        {% if section.settings.camera1 != blank %}
                            src="{{ 'section.settings.cemera1'| image_url }}"
                        {% else %}
                            src ="{{ 'c1.png' | asset_url}}"
                        {% endif %}
                    >
                </a>
                <p> Sony Alpha 6400 E-mount camera
                    with APS-C sensor (ILCE-6400L)  </p>
            </div>

            <div class="product2">
                <a href="{{pages['ilce-6400'].url }}">
                    <img
                        width = "300"
                        height = "300"
                        {% if section.settings.camera2 != blank %}
                            src="{{ 'section.settings.cemera2'| image_url }}"
                        {% else %}
                            src ="{{ 'c2.png' | asset_url}}"
                        {% endif %}
                    >
                </a>
                <p> FX30 Cinema Line
                    Super 35 Camera</p>
            </div>
            
        </div>
    </div>
  
</section>

<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .images {
        display:flex;
        gap: 7px;
        justify-content: space-evenly;
        
    }
    .product1{
        text-align: center;
    }
    .product2{
        text-align: center;
    
    }
    div p {
        font-size: 10px;
        font-weight: bold;
    }

</style>
{% schema %} {
    "name": "product-display",
    "settings": [
        {
            "type": "image_picker",
            "id": "camera1",
            "label" : "Upload product image"
        },
        {
            "type": "image_picker",
            "id": "camera2",
            "label" : "Upload product image"
        }
    ]
}

{% endschema %}