<main>
    <div class="camera-scroll">
        <img
            width = "300"
            height = "300"
            loading = "lazy"
            class = "sticky-image"
            {% if settings.product1 != blank %}
                src = " {{ settings.product1 | image_url }}"
            {% else %}
                src = "{{ 'c1.png'| asset_url }}"
            {% endif %}
        >
    </div>
    <div class="background">
            <img 
                width= "100%"
                height = "auto"
                src="{{ 'photo1.jpg' | asset_url }}">
            <img 
                width= "100%"
                height = "auto"
                src="{{ 'photo2.jpg' | asset_url }}">
            <img 
                width= "100%"
                height = "auto"
                src="{{ 'photo3.jpg' | asset_url }}">


            <img 
                width= "100%"
                height = "auto"
                src="{{ 'photo4.jpg'| asset_url }}">

            <img 
                width= "100%"
                height = "auto"
                src="{{ 'photo5.jpg'| asset_url }}">
            <img 
                width= "100%"
                height = "auto"
                src="{{ 'photo6.jpg'| asset_url }}">
                
            <img 
                width= "100%"
                height = "auto"
                src="{{ 'photo7.jpg'| asset_url }}">
                   
            <img 
                width= "100%"
                height = "auto"
                src="{{ 'photo8.jpg'| asset_url }}">
    
    </div>
   
</main>

<style>
    main {
        margin: 0;
        height: 200%;
    }
    .camera-scroll{
        height: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img {
        padding : 0;
        margin: 0;
    }
    .sticky-image {
        position: sticky;
        top: 50%; /* Stick to 50% from the top of the viewport */
        left: 50%; /* Stick to 50% from the left of the viewport */
        transform: translate(-50%, -50%); /* Center the image on both axes */
        max-width: 300px; /* Set a maximum width for the image */
        z-index: 999;
    }

    .background{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 400px;
        row-gap: 20px;
        justify-content: center;
    }   

    .background img{
        display: block; /* Ensure no inline space around the images */
        max-width: 300px; /* Set a maximum width for each image */
    }

</style>

{% schema %} {
    "name": "product-page-1",
    "settings": [
        {
            "type": "image_picker",
            "id": "product1",
            "label": "Choose product image to display"
        }
    ]
}


{% endschema %}